<ion-view view-title="All Cameras">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-refresh" ng-click="reload()"></a>
        <a class="button button-icon ion-settings" ui-sref="settings"></a>
    </ion-nav-buttons>
    <ion-content>
        <div class="row cameras">
            <div class="col col-50" ng-repeat="(key, camera) in cameras" ng-click="openCamera($index)">
                <div class="card">
                    <div class="item item-image">
                        <img ng-src="{{camera.url}}" />
                    </div>
                    <div class="item" href="#">
                        {{camera.title}}
                    </div>
                </div>
            <div>
        </div>
    </ion-content>
</ion-view>

<style type="text/css">
.cameras  {
   -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cameras img {
    width: 100%;
    background: #888;
    min-height: 200px;
}
</style>
