<ion-modal-view>
	<ion-header-bar class="bar-stable">
		<h1 class="title">{{data.title || 'New camera'}}</h1>
	</ion-header-bar>
	<ion-content>
		<form name="cameraSettings" novalidate="">
	    	<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Title</span>
					<input type="text" placeholder="Camera 1 (optional)" ng-model="data.title">
				</label>

				<div class="item item-toggle">
					Use Custom URL
	     			<label class="toggle toggle-positive">
						<input type="checkbox" ng-model="data.use_custom">
							<div class="track">
								<div class="handle"></div>
							</div>
					</label>
				</div>

				<div ng-hide="data.use_custom">
					<label class="item item-input item-stacked-label"
							ng-class="{ 'has-error' : cameraSettings.host.$invalid}">
						<span class="input-label">Host</span>
						<input type="text" name="host" placeholder="192.168.1.50" 
							ng-model="data.host" required>
					</label>

					<label class="item item-input item-stacked-label">
						<div class="input-label">Port</div>
						<input type="tel" placeholder="8000" ng-model="data.port">
					</label>

					<label class="item item-input item-stacked-label">
						<div class="input-label">User</div>
						<input type="text" placeholder="admin" ng-model="data.user" autocomplete="user">
					</label>

					<label class="item item-input item-stacked-label">
						<div class="input-label">Password</div>
						<input type="password" placeholder="password" ng-model="data.pwd">
					</label>
					
					<label class="item item-input item-select">
						<div class="input-label">
							Manufacturer
						</div>
						<select ng-model="data.manf" name="manf" required>
							<option value="">Select manufacturer</option>
							<option ng-repeat="manf in getCameraManf">{{manf}}</option>
						</select>
					</label>

					<label class="item item-input item-select">
						<div class="input-label">
							Model
						</div>
						<select ng-model="data.model" name="model" required>
							<option value="">Select a model</option>
							<option ng-repeat="model in getCameraModel(data.manf)">{{model}}</option>
						</select>
					</label>
				</div>

				<label class="item item-input item-stacked-label" ng-show="data.use_custom">
						<span class="input-label">Custom Camera URL</span>
						<input type="text" placeholder="http://192.168.1.200:8080/snapshot.cgi?user=admin&password=admin"
							 ng-model="data.custom_url">
				</label>

				<div class="item item-icon-right">
					<button class="button icon-right button-stable"
							ng-click="testCamera()">
	  						Test connection 
					</button>
					<div class="check-connection">
						<i class="icon">
						  <ion-spinner ng-show="checkingURL"></ion-spinner>
						</i>
	  					<i class="icon ion-checkmark-circled balanced"
	  							ng-show="validURL === true && !checkingURL"></i>
	  					<i class="icon ion-close-circled assertive"
	  							ng-show="validURL === false && !checkingURL"></i>
					</div>
				</div>

				<div class="item button-bar">
					<button class="button button-positive"
							ng-click="saveCamera()">
	  					Save
					</button>
					
					<button class="button button-assertive"
							ng-click="deleteCamera()"
							ng-show="isEditing()">
	  					Delete
					</button>

					<button class="button button-stable"
							ng-click="closeModal()">
	  					Cancel
					</button>
				</div>
			</div>
		</form>
		{{cameraSettings.$valid}}
		{{cameraSettings.host.$valid}}
	</ion-content>
</ion-modal-view>
