<ion-view view-title="{{camera.title}}">
    <ion-nav-buttons side="secondary">
        <a class="button button-icon ion-settings" href="#/settings"></a>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <img ng-src="{{url}}" id="cam"/>
    </ion-content>
    <ion-footer-bar class="ad">
    	<img src="https://placehold.it/600x44" />
    </ion-footer-bar>
</ion-view>

<style>
#cam {
	width: 100%;
	max-height: 100%;
}
.ad {
	padding: 0; 
}
.ad img {
	margin: 0 auto;
}
</style>
